<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Dashboard</title>
</head>
<body>
  <header>
    <h1>Bienvenue sur le Tableau de Bord</h1>
  </header>
  <main>
    <section>
      <h2>Statistiques</h2>
      <p>Nombre total d'achats : <%= totalOrders %></p>
      <p>Revenu total : $<%= totalRevenue %></p>
    </section>
  </main>
</body>
</html>
